.MuiPaper-root .MuiCardActions-root img {
    width: 100%;
    height: auto;
}

.image img {
    width: 100%;
    height: auto;
}
.lSSlideOuter .lSPager.lSGallery li.active{
    border-bottom: 2px solid #ff4b28;
}
.doc-markdown table {
    border: 1px solid gainsboro;
    border-collapse: collapse;
}
.doc-markdown table thead th {
    border-bottom: 2px solid gainsboro;
}
.doc-markdown table tbody tr:hover {
    background-color: rgba(0, 0, 0, .075);
}
.doc-markdown table th,
.doc-markdown table td {
    padding: .75rem;
    border: 1px solid gainsboro;
}
.doc-markdown img{
    max-width: 100%;
    height: auto;
}
.lightSlider.lsGrab img {
    cursor: pointer;
}